@import 'tailwindcss';
/*
@layer base {
  html {
  }

  h1 {
    @apply text-5xl font-bold; 
  }

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-3xl font-bold;
  }

  h4 {
    @apply text-2xl font-bold;
  }

  h5 {
    @apply text-xl font-bold;
  }

  h6 {
    @apply text-lg font-semibold; 
  }
}
    */

@theme {
  --font-display: "Libre Baskerville";
  --color-main: #495C32;
  --color-mainDark: #3C4C29;
  --color-customGray: #A3A3A3;
  --color-customGrayDark: #969696;
}

@layer components {
  .primary {
    @apply bg-main text-white font-bold font-display py-2 px-5 rounded-3xl hover:bg-mainDark
              hover:cursor-pointer
  }
  .secondary {
    @apply bg-customGray text-white font-bold font-display py-2 px-5 rounded-3xl hover:bg-customGrayDark
  }
}

.ProseMirror:focus {
    outline: none;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}